 body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: cornsilk;
}

ul a{
  padding: 0;
  list-style-type: none;
  text-decoration:none !important;
}

a {
  color: inherit;
}

ul li {
  box-sizing: border-box;
  width: 15em;
  height: 3em;
  font-size: 20px;
  border-radius: 0.5em;
  margin: 0.5em;
  box-shadow: 0 0 1em rgba(0,0,0,0.2);
  color: white;
  font-family: sans-serif;
  text-transform: capitalize;
  line-height: 3em;
  transition: 0.3s;
  cursor: pointer;
}

ul li:nth-child(odd) {
  background: linear-gradient(to right, rgb(77, 76, 75), rgb(112, 248, 0));
  text-align: left;
  padding-left: 10%;
  transform: perspective(500px) rotateY(45deg);
}

ul li:nth-child(even) {
  background: linear-gradient(to left, rgb(77, 76, 75), rgb(112, 248, 0));
  text-align: right;
  padding-right: 10%;
  transform: perspective(500px) rotateY(-45deg);
}

ul li:nth-child(odd):hover {
  transform: perspective(200px) rotateY(45deg);
  padding-left: 5%;
}

ul li:nth-child(even):hover {
  transform: perspective(200px) rotateY(-45deg);
  padding-right: 5%;
}
